:root {
    --main_background_color: #1E113F;           /* Main Background */
    --secondary_background_color: #2B1859;      /* Side Background (Left and Right) */
    --widget_color: #180E33;                    /* Navigation Bar and Button*/
    --widget_hover_color: #06030C;              /* Navigation Bar Hover */
    --widget_color_2: #3C2180;                  /* Input and Button Hover*/
    --card_color: #0f0920;                      /* Card Background */
}

body {
    background-color: var(--main_background_color);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 100vh;
}

/* Navigation Bar */
.navigation_bar_ul {
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: left;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--widget_color);
}
.navigation_bar_li {
    float: left;
}
.navigation_bar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}
.navigation_bar_li a:hover {
    background-color: var(--widget_hover_color);
    transition: 0.7s;
}

/*  Layout in General */
* {
box-sizing: border-box;
}
.main {
padding: 20px;
flex: 0 0 80%;
}
.right, .left {
background-color: var(--secondary_background_color);
padding: 20px;
flex: 0 0 10%;
}
.card_view {
    background-color: var(--card_color);
    border-left: var(--stripe_color) solid 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* Layout change for Phone*/
@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
        font-size: 15px;
    }
    .main {
        flex: 0 0 100%;
        padding: 15px;
        min-width: 0;
        }
    .left, .right {
        display: none;
        }
    .navigation_bar_ul {
        position: absolute;
    }
    /*.navigation_bar_li a {
        padding: 10px 8px;
        font-size: 16px;
    }*/ /*Makes NavBar on phone smaller*/
    .card_view {
        width: 100%;
        overflow: hidden;
    }
    .title {
        margin-top: 200px;
        font-size: 20px;
    }
    .horizontal_scroll {
        display: block;
        overflow-x: auto;
        white-space: pre;
        overflow-wrap: normal;
        max-width: 100%;
        width: 100%;
    }
}

/* General */
.title {
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.button {
    background-color: var(--widget_color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.7s;
}
.button:hover {
    background-color: var(--widget_color_2);
}
.input {
    background-color: var(--widget_color_2);
    border: none;
    color: white;
    width: 30px;
    font-size: 20px;
}
.keywords {
    font-weight: bold;
}
.info {
    color: aqua;
    font-size: small;
}